* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #f2f2f2 1.18%, #e6e6e6 100%);
}
.App {
  width: 400px;
  background: transparent;
  font-family: "Karla", sans-serif;
  height: 100vh;
}
main {
  padding: 10px 20px;
  width: 400px;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 6%;
  height: 65px;
  width: 88%;
  background: transparent;
  color: white;
}

.header--image {
  height: 90%;
}

.header--title {
  font-size: 1rem;
  margin-right: auto;
  color: #6ab1b7;
}

.header--project {
  font-size: 0.8rem;
  font-weight: 500;
  color: #23a0ac;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 10px;
  margin-bottom: 10px;
}

.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid rgb(165, 164, 168);
  text-indent: 5px;
  background: transparent;
}

.form--button {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90deg, #6ab1b7 1.18%, #35c5d2 100%);
  color: white;
  border: none;
  cursor: pointer;
}
.form--button:hover {
  background: linear-gradient(90deg, #6ab1b7 1.18%, #0eacba 100%);
}
.meme {
  position: relative;
}

.meme--image {
  width: 100%;
  border-radius: 3px;
  max-height: 360px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
